/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* @font-face {
	font-family: "Walkway Black";
	src: url("fonts/Walkway.ttf");
} */

.modalStyles {
	position: fixed;
	z-index: 1;
	top: 50%;
	left: 50%;
	overflow-y: scroll;
	-webkit-transform: translate(-50%, -54%);
	-ms-transform: translate(-50%, -54%);
	transform: translate(-50%, -54%);
	height: 85vh;
	width: 50vw;
	border: 1px solid #4e4d4d;
	background: #f2fcfe;
	-webkit-box-shadow: 20px 15px 20px 0px rgb(255 255 255 / 20%);
	box-shadow: 20px 15px 20px 0px rgb(255 255 255 / 20%);
	opacity: 0.9;
	padding: 20px 30px 30px 30px;
	margin-bottom: 50px;
	font-family: Ubuntu;
	line-height: 1.8;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-thumb {
	background: #6f91bd;
	border-radius: 20px;
}

.modalText {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	font-size: 18px;
}

.modalTitle {
	text-align: center;
	font-size: 40px;
	font-weight: 600;
}

.subTitles {
	text-align: left;
	font-size: 24px;
	font-weight: 500;
}

.feedbackDetailTitle {
	text-indent: 20px;
	font-size: 18px;
	font-weight: 500;
}

.feedbackDetails {
	text-indent: 20px;
	font-size: 16px;
}

.feedbackDetailExtra {
	text-indent: 30px;
	font-size: 16px;
	width: 40vh;
	display: inline;
}

.pbwrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	max-width: 55vw;
	text-align: center;
}

.progressBar {
	max-width: 27vw;
	width: 100%;
	background-color: #e0e0e0;
	border-radius: 20px;
}

.progressBarFill {
	display: block;
	height: 3.5vh;

	/* remove this width to test the progress bar filling */
	width: 100%;
	background-image: -o-repeating-linear-gradient(
		right,
		#0546e0,
		#1172f9,
		#4892f9
	);
	background-image: repeating-linear-gradient(
		to left,
		#0546e0,
		#1172f9,
		#4892f9
	);
	border-radius: 20px;
	transition: width 0.5s ease-in;
}

.spanTag {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 34.5vw;
}

.summaryDotRed {
	height: 25px;
	width: 25px;
	background-color: #ff0909;
	border-radius: 50%;
	display: inline-block;
	position: relative;
	left: 0.3vw;
	top: 0.2vw;
}

.summaryDotYellow {
	height: 25px;
	width: 25px;
	background-color: #ffcc00;
	border-radius: 50%;
	display: inline-block;
	position: relative;
	left: 0.3vw;
	top: 0.2vw;
}

.summaryDotGreen {
	height: 25px;
	width: 25px;
	background-color: #00ab66;
	border-radius: 50%;
	display: inline-block;
	position: relative;
	right: -0.3vw;
	top: 0.2vw;
}

button {
	position: relative;
	height: 30px;
	background: #1a73e8;
	font-size: 14px;
	font-weight: 600;
	border: 1px solid black;
	right: 10px;
	top: 8px;
}

/* MODAL STYLING */

.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1040;
	width: 100vw;
	height: 100vh;
	background-color: #000;
	opacity: 0.5;
}

.modal-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1050;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	outline: 0;
}

.modal {
	z-index: 100;
	background: white;
	position: relative;
	margin: 1.75rem auto;
	border-radius: 3px;
	max-width: 500px;
	padding: 2rem;
}

.modal-header {
	display: flex;
	justify-content: flex-end;
}

.modal-close-button {
	font-size: 1.4rem;
	font-weight: 700;
	line-height: 1;
	color: #000;
	opacity: 0.3;
	cursor: pointer;
	border: none;
}

button {
	font-size: 0.9rem;
	font-weight: 700;
	border: none;
	border-radius: 3px;
	padding: 0.3rem 1rem;
	margin-left: 0.5rem;
}

.button-default {
	background: #247ba0;
	color: #fff;
}
